@media (max-width: 1205px) { 

.menu-mid ul li a {
	padding: 0px 6px;
	
}

.footer-right {
	text-align:center;
	font-size: 20px;
}

}

@media (max-width:997px) {
	
	
	.nav-menu {
		text-align:center;
	}
	.menu-mid {
		padding:10px 0px;
	}
	.menu-signup {
		text-align:center;
	}
	.menu-signup li a:nth-child(1) {
	padding: 4px 12px;
    }
	
	.footer-left {
		text-align:center;
	}
	
	.footer-mid {
		padding:10px 0px;
	}
	
	.banner-right {
	padding:0px;
	padding-top:30px;
    }
	.banner {
		padding: 50px 0px;
	}
	.banner-left p {
		text-align:center;
	}
	
	.banner-left h2 {
		text-align:center;
	}
	.banner-left h3 {
		text-align:center;
	}
	.btn-default {
		width:350px;
	}
	.form-control {
		width:350px;
	}
	.form-horizontal {
	width: 60%;
	margin: auto;
    }
}

@media (max-width:726px) { 
	.banner {
		background-size:cover;
	}
	.btn-default {
		width:72%;
	}
	.form-control {
		width:78%;
	}
    .form-group-search {
		width:100%;
	}
}

@media (max-width:500px) {
	
	.banner-left p {
		font-size:20px;
	}
	
	.form-horizontal h2 {
		font-size:20px;
	}
	
	
	.form-control {
	height: 34px;
	padding: 0px 12px;
	font-size: 14px;
    }
	
	.btn-default {
	width: 40%;
	height: 36px;
	font-size:18px;
    }
	.form-horizontal {
		width:80%;
	}
}


@media (max-width:360px) {
	
	.banner-left h2{
		font-size:50px;
	}
	.banner-left h3 {
		font-size:18px;
	}
	.banner-left h3 a {
		font-size:18px;
	}
}



.btn-text ul li a {
	font-size: 18px;
	padding: 3px 11px;
	border-radius:8px;
	margin-right: 5px;
}







