<div class="new-element">
    <div class="container">
        <div class="col-md-6 new-e-left">
            <a ng-click="StartNewExperiment();">New Experiment  <span class="fa fa-caret-down"></span></a>

        </div>
        <div class="col-md-6 new-e-right">

            <ul>
                <li ng-show="isShow"><p>Auto-saved on 11:34</p></li>
                <li><a ng-click="SaveExperiment();">Save As...</a></li>
                <li><a href="#">Exports  <span class="fa fa-caret-down"></span></a></li>
            </ul>

        </div>
    </div>
</div>