
<header class="header">
    <div class="container">
        <div class="nav-menu">
            <div class="col-md-4 menu-logo">
                <a href="#"><img src="images/secondTab/logo.png" alt="" /></a>
            </div>
            <div class="col-md-4 menu-mid">
                <ul>
                    <li><a ng-show="isShow" href="#">Experiments</a></li>
                    <li><a ng-show="isShow" href="#">Collections</a></li>
                </ul>
            </div>
            <div class="col-md-4 menu-signup">
                Hello, <a href="#">{{userLogin}}<span class="fa fa-caret-down"></span></a>
            </div>
        </div>
    </div>
</header>