
<link href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="import/firstTab/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/firstTab/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/firstTab/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/firstTab/css/responsive.css" media="all" />


<header class="header">
    <div class="container">
        <div class="nav-menu">
            <div class="col-md-4 menu-logo">
                <a href="#"><img src="import/firstTab/images/logo.png" alt="" /></a>
            </div>
            <div class="col-md-4 menu-mid">
                <ul>
                    <li><a href="#">Experiments</a></li>
                    <li><a href="#">Collections</a></li>
                </ul>
            </div>
            <div class="col-md-4 menu-signup">
                Hello, <a href="#">Tamar <span class="fa fa-caret-down"></span></a>
            </div>
        </div>
    </div>
</header>

<div class="new-element">
    <div class="container">
        <div class="col-md-6 new-e-left">
            <a href="#">New Experiment  <span class="fa fa-caret-down"></span></a>

        </div>
        <div class="col-md-6 new-e-right">

            <ul>
                <li><p>Auto-saved on 11:34</p></li>
                <li><a href="#">Save As...</a></li>
                <li><a href="#">Exports  <span class="fa fa-caret-down"></span></a></li>
            </ul>


        </div>
    </div>
</div>


<div class="main-box-1">
    <div class="container fix-pad">
        <div class="main-title">
            <h4>
                <b>Find Matches<img src="import/firstTab/images/h1.png" alt="" /></b>
            </h4>
        </div>

        <div class="box-body">
            <div class="main-box-header">
                <div class="col-md-6 box-deut-left">

                    <h3>
                        Deutoronomy 1,Deutoronomy 2 Deu...
                        <img src="import/firstTab/images/info.png" alt="" />
                        <a href="#">Edit</a>
                    </h3>
                    <div class="deut-icon">
                        <ul>
                            <li><img src="import/firstTab/images/genre.png" alt="" /> <span>Prose</span></li>
                            <li><img src="import/firstTab/images/period.png" alt="" /> <span>Biblical</span></li>
                            <li><img src="import/firstTab/images/region.png" alt="" /> <span>Israel</span></li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-6 box-deut-right">

                    <ul>
                        <li><a ng-click="GoToSecondTab()"><span><img src="import/firstTab/images/plus.png" alt="" /></span>  Classify</a></li>
                        <li><a ng-click="GoToThirdTab()"> <span><img src="import/firstTab/images/plus.png" alt="" /></span> Segment</a></li>
                        <li><a href="#">More Options<span class="fa fa-caret-down"></span></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- main box body -->

    <div class="main-box-body">
        <div class="container bdmo">
            <div class="box-body-bg">
                <div class="col-md-4">

                    <div  ng-show="!showInProcess"  class="box-left-side">

                        <div class="box-in">
                            <h2><a href="#">In all collections<span class="fa fa-caret-down"></span></a></h2>
                            <p><img src="import/firstTab/images/setting.png" alt="" /> Advanced</p>

                        </div>

                        <div class="box-found">
                            <h3>Found {{numOfParallels}} parallels</h3>

                            <div ng-show="false" class="box-fexo">
                                <ul>
                                    <li><h2>Exodus</h2> <small>Most similar overall</small></li>
                                    <li><h2>83%</h2><small>Similarity</small></li>
                                </ul>

                            </div>

                        </div>
                        <div class="box-bys">
                            <h3>By source  |  <span>By location</span></h3>
                            <ul ng-repeat="group in groups">
                                <li><h2>{{group.name}}</h2></li>
                                <li><a ng-click="updateGroupIndex($index)">{{group.numOfParallels}} parallels <i class="fa fa-caret-down"></i></a></li>
                                <div ng-show="$index == currentGroupIndex" class="box-contens yellow">
                                    <div ng-repeat="parallel in group.parallels">
                                        <ul>
                                            <li style="float:right;"><h2>{{parallel.parallelTitle}}</h2></li>
                                            <li><small> parallel in - chunk {{parallel.chunkIndex}}</small></li>
                                        </ul>
                                        <p style="direction:rtl;">
                                            {{parallel.parallelText}}
                                        </p>
                                    </div>
                                    

                                </div>
                            </ul>
                           
                        </div>


                        
                    </div>
                </div>


                <div class="col-md-7">
                    <in-progress></in-progress>

                    <div ng-show="!showInProcess" ng-repeat="chunk in chunks" class="box-right-side">
                        <div class="border-box">
                            <h2>Deutoronomy 1, chapter 1</h2>
                            <p style="direction:rtl;" class="line-h">
                                {{chunk}}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-md-1">
                    <div class="sid-bar0">
                    </div>
                    <div class="sid-bar1">
                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text

                    </div>

                    <div class="sid-bar2">
                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text

                    </div> <div class="sid-bar3">
                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text

                    </div>

                    <div class="sid-bar4">
                        Text Text Text


                    </div>

                    <div class="sid-bar5">

                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text
                    </div>

                    <div class="sid-bar6">
                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text

                    </div>

                    <div class="sid-bar7">
                        Text Text Text
                        Text Text Text

                    </div>

                    <div class="sid-bar8">

                        Text Text Text Text Text
                        Text Text Text
                    </div>

                    <div class="sid-bar9">

                        Text Text Text Text Text
                        Text Text Text Text Text
                        Text Text Text Text Text
                    </div>

                    <div class="sid-bar10">

                        Text Text Text
                    </div>



                </div>





            </div>
        </div>
    </div>
</div>





<footer class="footer">
    <div class="container">
        <div class="col-md-4 footer-left">
            <p>Questions? <a href="#">Contact Us</a></p>
        </div>
        <div class="col-md-4 footer-mid">
            <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

            </ul>
        </div>
        <div class="col-md-4 footer-right">
            <p>All rights reserved  @ Dicta inc</p>
        </div>
    </div>
</footer>