

<link href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="import/secondTab/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/secondTab/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/secondTab/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/secondTab/css/responsive.css" media="all" />

<in-progress></in-progress>


<header class="header">
    <div class="container">
        <div class="nav-menu">
            <div class="col-md-4 menu-logo">
                <a href="#"><img src="import/secondTab/images/logo.png" alt="" /></a>
            </div>
            <div class="col-md-4 menu-mid">
                <ul>
                    <li><a href="#">Experiments</a></li>
                    <li><a href="#">Collections</a></li>
                </ul>
            </div>
            <div class="col-md-4 menu-signup">
                Hello, <a href="#">{{userLogin}}<span class="fa fa-caret-down"></span></a>
            </div>
        </div>
    </div>
</header>

<div class="new-element">
    <div class="container">
        <div class="col-md-6 new-e-left">
            <a ng-click="StartNewExperiment();">New Experiment  <span class="fa fa-caret-down"></span></a>

        </div>
        <div class="col-md-6 new-e-right">

            <ul>
                <li><p>Auto-saved on 11:34</p></li>
                <li><a ng-click="SaveExperiment();">Save As...</a></li>
                <li><a href="#">Exports  <span class="fa fa-caret-down"></span></a></li>
            </ul>

        </div>
    </div>
</div>


<div class="main-box-1">
    <div class="container fix-pad">
        <div class="main-title">
            <h4>
                <b class="active">Find Matches<img src="import/secondTab/images/h2.png" alt="" /></b>
                <b>Classify it<img src="import/secondTab/images/h1.png" alt="" /></b>
            </h4>
        </div>

        <div class="box-body">
            <div class="main-box-header">
                <div class="col-md-6 box-deut-left">

                    <h3>
                        Deutoronomy 1,Deutoronomy 2 Deu...
                        <img src="import/secondTab/images/info.png" alt="" />
                        <a href="#">Edit</a>
                    </h3>
                    <div class="deut-icon">
                        <ul>
                            <li><img src="import/secondTab/images/genre.png" alt="" /> <span>Prose</span></li>
                            <li><img src="import/secondTab/images/period.png" alt="" /> <span>Biblical</span></li>
                            <li><img src="import/secondTab/images/region.png" alt="" /> <span>Israel</span></li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-6 box-deut-right">

                    <ul>

                        <li><a href="#"> <span><img src="import/secondTab/images/plus.png" alt="" /></span> Segment</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- main box body -->

    <div class="main-box-body">
        <div class="container bdmo">
            <div class="box-body-bg">
                <div class="col-md-4">

                    <div class="box-left-side">

                        <div class="box-in">
                            <h2><a ng-click="ContinueToAddClass('SelectOnlineCorpus');">-Add a class <span class="fa fa-caret-down"></span></a></h2>
                            <training-classes show-delete-button="true"></training-classes>

                        </div>
                        <div class="clearfix"></div>
                        <div class="box-found new-box">
                            <p class="alogrithim">alogrithim</p>
                            <p ng-click="OpenSelectAlgorithm();" class="alogrithim-class"><img src="import/secondTab/images/setting.png" alt="" /> {{selectedAlgorithmTypeName}} </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="feature-set">
                            <p class="alogrithim">feature set</p>
                            
                            <feature-sets show-delete-button="true"></feature-sets>

                            <ul class="list-unstyled">
                                <li><a ng-click="OpenSelectFeatureSet();"><i class="fa fa-plus"></i> Add a feature set</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cross-verification">
                            <p ng-show="CVResultData.classes.length>1"> Cross validition -{{CVResultData.accuracy[0] | number: 1}}%</p>
                            <a ng-click="ContinueToResult();">Classify Test Text</a>
                        </div>


                    </div>
                </div>

                <div class="col-md-8">
                    
                    <table>
                        <tr>
                            <td>
                                <a ng-click="updateCurrentFeatureListToEmpty()">Display Text</a>
                            </td>
                            <td>|</td>
                            <td>
                                <a ng-click="updateCurrentFeatureList()">Display Features</a>
                            </td>
                        </tr>
                    </table>
                    <div ng-show="tab == '1'">
                        <div ng-repeat="testFile in testSetChunks" class="box-right-side">
                            <div class="border-box">
                                <h2>
                                    <span class="align-left">{{testFile.name}}</span><span class="align-right">
                                        {{testFile.length}} words, {{testFile.classifiedAs}},
                                        <i ng-show="testFile.confidence==100">very high</i>
                                        <i ng-show="testFile.confidence>=95 && testFile.confidence<100">high</i>
                                        <i ng-show="testFile.confidence>=80 && testFile.confidence<95">medium</i>
                                        <i ng-show="testFile.confidence<80">low</i>
                                    </span>
                                </h2>
                                <p class="line-h" style='height: 350px; overflow: scroll; text-align:{{textAlign}};' ng-bind-html="testFile.htmlText">
                                </p>
                            </div>
                        </div>

                    </div>
                    <div ng-show="tab == '2'" style="height: 450px; overflow: scroll;">
                    
                        <div ng-repeat="oneclass in TSResultData.classes">
                            <span style="margin-left:15px; font-size:22px; color:{{TSResultData.colors[$index]}};">{{oneclass}}</span><span style="margin-left:10px; font-size:22px;">Represented indicators</span>
                            <table class="mytable" max-height="200" fixed-header>
                                <thead>
                                    <tr>
                                        <th style="font-size:11px;" title="Feature Name"><a style="font-size:11px;" href="" ng-click="test_predicate = 'name'; reverse=!reverse;">Feature</a></th>
                                        <th style="font-size:11px;" title="Number of Appearances in current selected document (test file)"><a style="font-size:11px;" href="" ng-click="test_predicate = 'numberOfAppearancesInDoc'; reverse=!reverse;">Occurrences</a></th>
                                        <th style="font-size:11px;" title="Frequency in current selected document (test file)">Freq in doc</th>
                                        <th style="font-size:11px;" title="An average is the sum of a list of numbers divided by the number of numbers in the list">
                                            Freq in {{oneclass}}
                                        </th>
                                        <th style="font-size:11px;" title="An average frequency in non-{{oneclass}} documents">Freq in non-{{oneclass}}</th>
                                        <th style="font-size:11px;">Midpoint</th>
                                        <th style="font-size:11px;">
                                            T-Test
                                        </th>
                                        <th style="font-size:11px;" title="Influence = Documet_length * {{oneclass}}_T-Test * (Freq_in_doc/100-Midpoint/100)"><a style="font-size:11px;" href="" ng-click="test_predicate = 'influence'; reverse=!reverse;">Influence</a></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- http://stackoverflow.com/questions/16227325/how-do-i-call-an-angular-js-filter-with-multiple-arguments -->
                                    <tr ng-repeat="feature in testFile.featureList | orderBy:test_predicate:reverse | orderBy:'-influence' | positiveInfluence: $index">
                                        <td><span title="{{feature.title}}" class="{{feature.backgroundColorForFeatureInfulence}}">{{feature.name}}</span></td>
                                        <td>{{feature.numberOfAppearancesInDoc | number: 0}}</td>
                                        <td>{{feature.freqInDoc  | number : 2}}</td>
                                        <td>
                                            {{feature.averageForEachClass[oneclass]  | number : 2}}
                                        </td>
                                        <td>{{feature.freqInOthers  | number : 2}}</td>
                                        <td>{{(feature.freqInOthers + feature.averageForEachClass[oneclass])/2 | number : 2}}</td>
                                        <td>
                                            {{feature.tTestForEachClass[oneclass] | number : 2}}
                                        </td>
                                        <td title="Influence = {{testFile.length}} * {{feature.tTestForEachClass[oneclass] | number : 2}} * ({{feature.freqInDoc | number : 2}}/100-{{(feature.freqInOthers + feature.averageForEachClass[oneclass])/2 | number : 2}}/100)">
                                            <span class="{{feature.backgroundColorForFeatureValue}}">{{feature.influence | number : 2}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <span style="margin-left:15px; font-size:22px; color:{{TSResultData.colors[$index]}};">{{oneclass}}</span><span style="margin-left:10px; font-size:22px;">Missing indicators</span>
                            <table class="mytable" max-height="200" fixed-header>
                                <thead>
                                    <tr>
                                        <th style="font-size:11px;" title="Feature Name"><a style="font-size:11px;" href="" ng-click="test_predicate = 'name'; reverse=!reverse;">Feature</a></th>
                                        <th style="font-size:11px;" title="Number of Appearances in current selected document (test file)"><a style="font-size:11px;" href="" ng-click="test_predicate = 'numberOfAppearancesInDoc'; reverse=!reverse;">Occurrences</a></th>
                                        <th style="font-size:11px;" title="Frequency in current selected document (test file)">Freq in doc</th>
                                        <th style="font-size:11px;" title="An average is the sum of a list of numbers divided by the number of numbers in the list">
                                            Freq in {{oneclass}}
                                        </th>
                                        <th style="font-size:11px;" title="An average frequency in non-{{oneclass}} documents">Freq in non-{{oneclass}}</th>
                                        <th style="font-size:11px;">Midpoint</th>
                                        <th style="font-size:11px;">
                                            T-Test
                                        </th>
                                        <th style="font-size:11px;" title="Influence = Documet_length * {{oneclass}}_T-Test * (Freq_in_doc/100-Midpoint/100)"><a style="font-size:11px;" href="" ng-click="test_predicate = 'influence'; reverse=!reverse;">Influence</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="feature in testFile.featureList | orderBy:test_predicate:reverse | orderBy:'influence' | negativeInfluence: $index">
                                        <td><span title="{{feature.title}}" class="{{feature.backgroundColorForFeatureInfulence}}">{{feature.name}}</span></td>
                                        <td>{{feature.numberOfAppearancesInDoc}}</td>
                                        <td>{{feature.freqInDoc | number : 2}}</td>
                                        <td>
                                            {{feature.averageForEachClass[oneclass] | number : 2}}
                                        </td>
                                        <td>{{feature.freqInOthers}}</td>
                                        <td>{{(feature.freqInOthers + feature.averageForEachClass[oneclass])/2 | number : 2}}</td>
                                        <td>
                                            {{feature.tTestForEachClass[oneclass] | number : 2}}
                                        </td>
                                        <td title="Influence = {{testFile.length}} * {{feature.tTestForEachClass[oneclass] | number : 2}} * ({{feature.freqInDoc | number : 2}}/100-{{(feature.freqInOthers + feature.averageForEachClass[oneclass])/2 | number : 2}}/100)">
                                            <span class="{{feature.backgroundColorForFeatureValue}}">{{feature.influence | number : 2}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />

                        </div>

                    
                    </div>
                      
                </div>







            </div>
        </div>
    </div>
</div>





<footer class="footer">
    <div class="container">
        <div class="col-md-4 footer-left">
            <p>Questions? <a href="#">Contact Us</a></p>
        </div>
        <div class="col-md-4 footer-mid">
            <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

            </ul>
        </div>
        <div class="col-md-4 footer-right">
            <p>All rights reserved  @ Dicta inc</p>
        </div>
    </div>
</footer>




<div ng-show="showClassDialog" ng-controller="ClassDialogController">
    <div aria-labelledby="ngdialog1-aria-labelledby" role="alertdialog" id="ngdialog10" class="ngdialog ngdialog-theme-default ng-scope">
        <div class="ngdialog-overlay"></div>
        <div class="ngdialog-content" role="document">
            <div class="ngdialog-message">
                <action-mode></action-mode>
                <in-progress></in-progress>
                <br />
                <div ng-show="ActionMode == 'BrowseThisComputer' && !showInProcess">
                    <browse-this-computer show-class-name="true"></browse-this-computer>
                </div>
                <div ng-show="ActionMode == 'SelectOnlineCorpus' && !showInProcess">
                    <select-online-corpus></select-online-corpus>
                    <br />
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <class-name-input></class-name-input>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="ngdialog-buttons" ng-show="!showInProcess">
                <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-primary" ng-click="saveClass()">Save class</button>
                <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-secondary" ng-click="cancelClass()">Cancel</button>
            </div>
        </div>
    </div>
</div>