<link href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="import/thirdTab/css/bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/thirdTab/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/thirdTab/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/thirdTab/style1.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/thirdTab/css/responsive.css" media="all" />


<header class="header">
    <div class="container">
        <div class="nav-menu">
            <div class="col-md-4 menu-logo">
                <a href="#"><img src="import/thirdTab/images/logo.png" alt="" /></a>
            </div>
            <div class="col-md-4 menu-mid">
                
            </div>
            <div class="col-md-4 menu-signup">
                Hello, <a href="#">{{userLogin}}<span class="fa fa-caret-down"></span></a>
            </div>
        </div>
    </div>
</header>

<div class="new-element">
    <div class="container">
        <div class="col-md-6 new-e-left">
            <a ng-click="StartNewExperiment();">New Experiment  <span class="fa fa-caret-down"></span></a>

        </div>
        <div class="col-md-6 new-e-right">

            <ul>
                <li><a ng-click="SaveExperiment();">Save As...</a></li>
                <li><a href="#">Exports  <span class="fa fa-caret-down"></span></a></li>
            </ul>


        </div>
    </div>
</div>


<div class="main-box-1">
    <div class="container fix-pad">
        <div class="main-title">
            <ul class="nav nav-tabs">
                <li>
                    <a data-toggle="tab" ng-click="GoToFirstTab()">
                        <b class="active">Find Matches<i class="fa fa-check-circle"></i></b>

                    </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="GoToSecondTab()">

                        <b class="active">Classify it<i class="fa fa-check-circle"></i></b>
                    </a>
                </li>
                <li class="active">
                    <a data-toggle="tab" href="#home">

                        <b class="active">Segment it<i class="fa fa-check-circle"></i></b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <div class="box-body">
                <div class="container fix-pad">
                    <div class="main-box-header">
                        <div class="col-md-6 box-deut-left">

                            <h3>
                                Deutoronomy 1,Deutoronomy 2 Deu...
                                <img src="import/thirdTab/images/info.png" alt="" />
                                <a href="#">Edit</a>
                            </h3>
                            <div class="deut-icon">
                               

                            </div>
                        </div>
                        <div class="col-md-6 box-deut-right">

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- main box body -->

            <div class="main-box-body newtabs">
                <div class="container bdmo">
                    <div class="box-body-bg">
                        <div class="col-md-4 border-author">
                            <div class="button-slider author-text">
                                <h2>Segment by text by author</h2>
                                <p>How many authors are assumed?</p>
                                <input class="author-assumed" ng-model="Segmentation_NumberOfClusters" id="clusters" name="clusters" type="text" value="{{Segmentation_NumberOfClusters}}" />
                                <p class="refine-segmentation">Refine Segmentation</p>
                                
                                
                                <input id="NumberOfSentencesLockedInId" 
                                       ng-model="Segmentation_NumberOfSentencesLockedIn"
                                       type="text" data-slider-min="10" data-slider-max="90" 
                                       data-slider-step="1"
                                       data-slider-id='NumberOfSentencesLockedInIdSlider' />
                                <p class="rough-refine"> <span class="text-left1">Rough</span><span class="text-right1">Fine</span></p>
                                <script>
                    // http://seiyria.com/bootstrap-slider/
                    var slider;
                    $(document).ready(function () {
                        slider = new Slider('#NumberOfSentencesLockedInId', {
                            min: 10,
                            max: 90,
                            scale: 'logarithmic',
                            value: 25,
                            step: 1
                        });
                        $("#NumberOfSentencesLockedInId").on("slide", function (slideEvt) {
                            var scope = angular.element($("#NumberOfSentencesLockedInId")).scope(); // $rootScope; //
                            //alert(scope);
                            //alert(scope.Segmentation_NumberOfSentencesLockedIn);
                            scope.Segmentation_NumberOfSentencesLockedIn = slideEvt.value;
                            //alert(slideEvt.value);
                        });

                    });
                                </script>


                                <div class="clearfix"></div>
                                <div class="author-refine-section">
                                    <p class="advance"><i class="fa fa-wrench" aria-hidden="true"></i><a href="">Advanced</a></p>
                                    <button ng-click="RunExperiment();" class="btn segments-btn">Segment</button>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">
                            <div class="box-right-side">
                                <div class="border-box">
                                    <h2><span class="align-left">Deutoronomy 1, chapter 1</span><span class="align-right">2 parallels</span></h2>
                                    <p class="line-h">
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                    </p>
                                </div>
                            </div>

                            <div class="box-right-side1">
                                <div class="border-box1">
                                    <div class="yellow">
                                        <h2><span class="align-left">Deutoronomy 1, chapter 1</span><span class="align-right">2 parallels</span></h2>

                                        <p>
                                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Tex Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text xt Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text xt
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<footer class="footer">
    <div class="container">
        <div class="col-md-4 footer-left">
            <p>Questions?</p>
        </div>
        <div class="col-md-4 footer-mid">
            
        </div>
        <div class="col-md-4 footer-right">
            <p>All rights reserved  @ Dicta inc</p>
        </div>
    </div>
</footer>