
.nav {
    list-style-type: none;
}
.nav > li {
    /*border: 1px solid #2987A3;
    background-color: #7ED3ED;*/
    padding: 3px;
    margin: 3px;
    width: 250px;
}
.nav > li:hover {
    background-color: #B1FAFA;
    color: #fff;
}
.delete-item {
    float: right;
    margin-right: 2px;
    color: #fff;
    padding: 0px 6px;
    background-color: #FC6A6A;
    border-radius: 100%;
}

.selected {
    border: 1px solid red;
    background-color: #B1FAFA;
}


.currentPage {
    font-size:20px;
    color: green;
}

.mytable td {
    width: 60px;
	min-width: 60px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:5px;
}

.mytable th {
	padding:5px;
    width: 60px;
	min-width: 60px;
	max-width: 180px;
}

.mytable, .mytable th, .mytable td {
	border: 1px solid black;
	border-collapse: collapse;
}

.mytable{
    border: none;
}

.fix-border {
  border: none;
}




.exp_rect {
    border:solid 3px white;
    height:250px;
    background-color:#CCCCCC;
}

.expHeader {
    font-size:28px;
    text-align:center;
    padding-top:150px;
}

.expOptions {
    padding-top:15px;
    text-align:center;
}

.expRecently {

    font-size:11px; 
    margin-bottom:-20px; 
    margin-top:10px;

}