body,ul,li,a,p,h2,h3,span {
	padding:0px;
	margin:0px;
}

body {

    background-color: #f2f2f2;
}
@font-face { 
	src : url(font/MyriadPro-Regular.otf);
	font-family:MyriadPro;
}

a {
	text-decoration:none;
	color:#fff;
}
a:hover {
	text-decoration:none;
	color:#fff;
}
ul li {
	list-style:none;
}

.header {
	background:#002d44;
	padding:13px 0px;
}

.nav-menu {
	width:100%;
	display:inline-block;
}
.menu-logo a img {
   margin-top:15px;
}

.menu-mid {
	padding-top:25px;
	text-align:center;
	font-family: 'Oranienbaum', serif;
	font-size:20px;
}
.menu-mid ul li a {
	padding:0px 18px;
	font-weight:400;
	color: #8ea2ac;
	font-size: 19px;
}

.menu-mid ul li.active a {
	font-weight: bold;
	color: #fff;
}
.menu-mid ul li a:hover {
	color:#fff;
	font-weight: bold;
	text-decoration:none;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}
.menu-signup {
	padding-top:25px;
	font-size:20px;
	text-align:right;
	font-family: 'Oranienbaum', serif;
}

.menu-signup ul li a {
	padding:0px 20px;
	font-weight:400;
	    font-size: 18px;
}
.menu-signup li.active a{
	background:#ff931e;
	color:#ffffff;
	border-radius:7px;
	padding:8px 15px;
}
.menu-signup ul li a:hover{
	 color: #a6b6be;
	 background: #fff;
    border-radius: 7px;
    padding: 8px 15px;
}
.menu-signup ul li a{
    background: none;
    color: #a6b6be;
    border-radius: 7px;
    padding: 8px 15px;
}





.banner {
	padding:126px 0px;
	width:100%;
	background-repeat:no-repeat;
	background-position: center center;
    background-size:100% 100%;
	background-image:url(images/bg.png);
}


.banner-left h2 {
	color:#fff;
	font-family:MyriadPro;
	font-size:80px;
	
}

.banner-left h2 img {
	width:200px;

}

.banner-left p {
	color:#fff;
	font-size:26px;
	font-family:MyriadPro;
}


.banner-left h3 {
	font-size:26px;
	color:#fff;
	font-family:MyriadPro;
}

.banner-left h3 a {
	color:#fff;
	font-size:26px;
	font-family:"MyriadPro";
	text-decoration: underline;
}

.banner-right {
/*    padding-left:100px;*/
}

.form-horizontal h2 {
    padding: 0px 18px;
    color: #414141;
    font-family: MyriadPro;
    font-size: 24px;
}
.form-horizontal {
	background: #ffffff;
	/*background:rgba(122, 132, 157, 0.8);*/
	border-radius:10px;
	padding: 24px 11px;
}

.form-group{
padding: 0px 15px;
    margin: 0px;
    margin-bottom: 15px;
}

.form-control {
	height: 48px;
	font-family:MyriadPro;
	font-size:20px;
	border: 1px solid #999999;
	border-radius:0px;
	background:#E6E6E6;
}

.btn {
	
}
.btn-default {
    background: #ff931e;
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    font-size: 23px;
    font-family: MyriadPro;
    height: 48px;
    box-shadow: 0px 3px 0 #002d44;
    margin: 0 auto;
}
.btn-default:hover {
	background:#2A7DAF;
	border:none;
    border-radius:0px;
	color:#fff;
}


.a-text {
	    padding: 48px 0px 24px;
	        background: #ffffff;
}

.a-text h2 {
    font-size: 26px;
    font-family: MyriadPro;
    padding: 0 0px 20px;
    color: #696969;
}

.a-text p {
font-size: 20px;
    font-family: MyriadPro;
    color: #696969;
    margin-bottom: 10px;
}

.a-text h3 {
	font-family:MyriadPro;
	color:#696969;
	font-size:20px;
	padding:2px 0px;
}

.a-text h3>span {
	font-family:MyriadPro;
	font-size:19px;
	color:#000;
	font-weight:bold;
	margin-right:8px;
	
}
.a-text h3>i {
	font-size:14px;
	color:#000;
	margin-right:4px;
	
}
.btn-text ul li {
	padding-top:15px;
	display:inline-block;
	list-style:none;
}
.btn-text ul li a {
	font-family:MyriadPro;
	display:block;
	font-size:23px;
	background:#2674A4;
	padding:8px 25px;
	border-radius:10px;
	margin-right:20px;
}


.search {
    background: #f2f2f2;
    padding: 47px 0px;
}
.search h2 {
    font-family: MyriadPro;
    color: #666666;
}


.form-group-search {
    margin: 50px 0;
    position: relative;
    width: 46%;
}
.form-control3 {
    width: 100%;
    border: 1px solid #999999;
    height: 35px;
    font-family: MyriadPro;
    font-size: 17px;
    font-weight: 500;
    padding: 0px 20px;
}

.form-group-search button {
    position: absolute;
    right: 6px;
    top: 3px;
    color: #000000;
    background: transparent;
    border: none;
    font-size: 20px;
}

.c-text {
    padding: 47px 0px 28px;
        background: #ffffff;
}

.c-text h2 {
    margin-bottom: 15px;
    font-size: 26px;
    font-family: MyriadPro;
    padding: 0 0 20px;
    color: #696969;
}



.footer {
	background:#333;
	margin-top: 20px;
	padding:30px 0px;
}

.footer-left p {
	    color: #848484;
    font-size: 21px;
    font-family: MyriadPro;
}
.footer-left p a {
	    color: #848484;
    font-size: 21px;
    text-decoration: underline;
    font-family: MyriadPro;
}

.footer-mid {
	text-align:center;
}
.footer-mid ul li {
	display:inline-block;
	list-style:none;
	margin-right:20px;
}
.footer-mid ul li a {
	font-size:30px;
	color:#000;
	background:#8E8E8E;
	padding: 4px 12px;
}
.footer-mid ul li:nth-child(1) a{
	border-radius:8px;
	
}
.footer-mid ul li:nth-child(2) a{
	border-radius:50%;
	padding: 6px 9px;
}
.footer-right {
   color: #848484;
    font-size: 21px;
    font-family: MyriadPro;
	text-align:right;
}

