
<link href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="import/DlgLogin/css/bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/DlgLogin/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="import/DlgLogin/style.css" media="all" />

<div class="ngdialog-message">
    <div class="modal-dialog modal-sm">
        <div class="modal-content sign-in-account">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeThisDialog('button')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign into your account</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label"> User</label>
                    <div class="col-sm-9">
                        <input focus-on="focusMe" ng-enter="Login()" ng-model="userLogin" type="text" value="{{userLogin}}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="Login()" class="btn btn-primary sign-in-btn"> Sign in</button>
            </div>
        </div>
    </div>
</div>
<div class="ngdialog-buttons">
   
</div>